@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #182c61;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.popup .popup_body {
  position: absolute;
  top: -150%;
  background: #000;
  font-size: 22px;
  padding: 14px;
  border-radius: 10px;
  visibility: hidden;
}

.popup .popup_body::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.popup_body.show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
