* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 170px;
  background: white;
  border-radius: 10px;
}

.content p {
  padding: 20px;
  margin: 30px;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 2px solid rgb(194, 78, 0);
}
